# In this example, documentation and Header.txt are part # of the
default match. Default owners if nothing else
# matches.
* @yunzhishang
# Code related should be validated by Rama.
# JavaScripts files could have been separated
# into tests versus logic by using folder's structure
*.qry @rama
*.acl @rama
*.cto @rama
*.js @rama
# Package.json should be reviewed by everyone
package.json @yunzhishang @rama @ODOWDAIBM
